.content {
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background: darkolivegreen;
    height: 65px;
    width: 250px;
}
.content::after, .content::before {
    content: '';
    position: absolute;
    left: -10px;
    bottom: 0px;
    border: 20px solid transparent;
    border-right: 20px solid darkolivegreen;
    border-bottom: 20px solid darkolivegreen;
}

.name {
    color: red;
}

.message {
    color: yellow;
}
.time {
    padding-left: 200px;
    color: black;
}
