.wrapper {
    background: paleturquoise;
}

header {
    text-align: center;
    background-color: white;
}

img {
    margin-left: 0px;
    margin-top: 33px;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    float: left;
}

.content {
    padding-left: 60px;
}
.list {
    text-align: center;
    padding: 10px;
}
h2 {
    text-align: center;
}







